.header-background {
  position: relative;
  background-image: url('../images/background/header-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 65vh;
  width: 100vw;
  overflow: hidden;
}
.circle {
  position: absolute;
  border-radius: 50%;
}

.circle-right {
  top: -100px;
  left: -90px;
  height: 250px;
  width: 250px;
  background-color: rgb(130 58 148 / 11%);
}

.circle-center {
  right: 400px;
  bottom: -40px;
  height: 250px;
  width: 250px;
  background-color: rgba(132, 60, 150, 0.146);
}
.circle-left {
  right: -50px;
  bottom: 70px;
  height: 170px;
  width: 170px;
  background-color: rgb(150 82 132 / 13%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;

  margin: 100px 132px;
  width: 1208px;
  font-size: 16px;
  color: #fff;
}
.header-title {
  margin: 0 0 24px;
  padding: 8px 16px;
  border: 2px solid rgba(205, 183, 211, 0.688);
  border-radius: 25px;
}
.header-title_img {
  width: 13px;
  height: 14px;
  margin: 0 3px;
}
.header-title-paragraph {
  margin: 0 0 24px;
  width: 347px;
}
.header-description {
  text-align: center;
  justify-content: center;
  margin: 0 0 30px;
  width: 655px;
  height: 48px;
}

.header-btns {
  align-items: center;
  justify-content: center;
}

.header-btn-start {
  width: 182px;
  height: 60px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: #6366f1;
  margin: 10px;
}
.header-btn-start_icon {
  width: 17px;
  height: 17px;
}
.header-btn-examples {
  width: 182px;
  height: 60px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #ffffff1a;
  background-color: #ffffff1a;
  color: white;
  padding: 16px 32px;
  margin: 10px;
}
