@import url(./global.css);
@import url('../components-styles/header/header.css');
@import url('../components-styles/course-rating/course-rating.css');
@import url('../components-styles/concept/concept.css');
@import url('../components-styles/couese-price/course-price.css');
@import url('../components-styles/slider-section/slider-section.css');
@import url('../components-styles/footer/footer.css');
