@import url(./global.css);
@import url('../components-styles/header.css');
@import url('../components-styles/course-rating.css');
@import url('../components-styles/concept.css');
@import url('../components-styles/course-price.css')