/* --------Concept title------- */
.concept {
	max-width: 1200px;
	margin: 100px auto;
	padding: 0 20px;
}

.concept-title_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-bottom: 50px;
}
.concept-title {
	font-size: 40px;
	font-weight: 800;
	color: #1e293b;
}

.concept-description {
	font-size: 18px;
	color: #64748b;
}
/* --------Concept items------- */

.concept-items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	justify-items: stretch;
	gap: 20px;
}
.concept-item {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	padding: 20px;
	background-color: #fff;
	border: 0.5px solid #84838342;
	border-radius: 20px;
}
.concept-item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 55px;
	border-radius: 20%;
	color: #fff;
}
.concept-item-title {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 12px;
}
.concept-item-description {
	color: #64748b;
	line-height: 1.6;
}

.concept-item-icon_panels {
	background-color: #6366f1;
}

.concept-item-icon_boxes {
	background-color: #b025eb;
}
.concept-item-icon-palete {
	background-color: #eb25a2;
}
.concept-item-icon-flesh {
	background-color: #d68320;
}
.concept-item-icon-phone {
	background-color: #45e627;
}
.concept-item-icon_code {
	background-color: #3a3af4;
}
