@import url(./header__adaptive.css);

.header-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../../../images/background/header-background.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 65vh;
	width: 100vw;
	overflow: hidden;
}

.circle {
	position: absolute;
	border-radius: 50%;
}

.circle-right {
	top: -100px;
	left: -90px;
	height: 250px;
	width: 250px;
	background-color: rgb(130 58 148 / 11%);
}

.circle-center {
	right: 400px;
	bottom: -40px;
	height: 250px;
	width: 250px;
	background-color: rgba(132, 60, 150, 0.146);
}
.circle-left {
	right: -50px;
	bottom: 70px;
	height: 170px;
	width: 170px;
	background-color: rgb(150 82 132 / 13%);
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;

	font-size: 16px;
	color: #fff;

	margin: 100px auto;
	max-width: 1200px;
	width: 100%;
	padding: 0 30px;
}

.header-title_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;

	border: 2px solid rgba(205, 183, 211, 0.688);
	border-radius: 25px;
	margin: 0 0 24px;
	padding: 8px 16px;

	animation: header-slide-up 3s ease-in-out infinite;
}

.header-title_img {
	width: 13px;
	height: 14px;
	margin: 0 5px 0 -3px;
}
.header-title_paragraph {
	margin: 0 0 24px;
	width: 100%;
	max-width: 347px;
	text-align: center;
}
.header-description {
	text-align: center;
	justify-content: center;

	max-width: 345px;
	margin: 0 0 30px;
	width: 100%;
	max-width: 655px;
	height: auto;
}

.header-btns {
	align-items: center;
	justify-content: center;
}

.header-btn_start {
	position: relative;
	width: 182px;
	height: 60px;
	font-size: 16px;
	margin: 10px;

	border-radius: 10px;
	border: 1px solid #ffffff;
	color: #6366f1;
	transition: all 0.4s ease;
	z-index: 0.1;
}

.header-btn_start__icon {
	position: relative;
	top: 3px;
	left: 2px;
	width: 18px;
	height: 18px;

	transition: all 0.4s ease;
}

.header-btn_examples {
	position: relative;
	width: 182px;
	height: 60px;
	padding: 16px 32px;
	margin: 10px;
	font-size: 16px;
	border-radius: 10px;
	border: 2px solid #ffffff1a;
	background-color: #ffffff1a;
	color: white;

	transition: all 0.4s ease;
	z-index: 0.1;
	cursor: pointer;
}

.header-main-title {
	font-size: clamp(16px, 11px);
	font-weight: 600;
	margin: 0;
}
